# Visual Studio

.vs/
*.user
*.sln
*.vcxproj
*.vcxproj.filters

#Intermediate files

ShaderRenderer.dir/

#Folders
x64/
Debug/
*.dir/


#CMake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
_deps
install_manifest.txt